In [ ]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "C:/Users/raney/OneDrive/Desktop/Analysis_Projects/PyBer_Analysis/Resources/city_data.csv"
ride_data_to_load = "C:/Users/raney/OneDrive/Desktop/Analysis_Projects/PyBer_Analysis/Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [ ]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()
city	date	fare	ride_id	driver_count	type
0	Lake Jonathanshire	2019-01-14 10:14:22	13.83	5739410935873	5	Urban
1	South Michelleport	2019-03-04 18:24:09	30.24	2343912425577	72	Urban
2	Port Samanthamouth	2019-02-24 04:29:00	33.44	2005065760003	57	Urban
3	Rodneyfort	2019-02-10 23:22:03	23.44	5149245426178	34	Urban
4	South Jack	2019-03-06 04:28:35	34.58	3908451377344	46	Urban

In [ ]:
#  1. Get the total rides for each city type
total_rides_series = pyber_data_df.groupby(["type"]).count()["ride_id"]
total_rides_series
type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [ ]:
# 2. Get the total drivers for each city type
total_driver_series = city_data_df.groupby(["type"]).sum()["driver_count"]
total_driver_series
type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [ ]:
#  3. Get the total amount of fares for each city type
total_fare_series = pyber_data_df.groupby(["type"]).sum()["fare"]
total_fare_series
type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [ ]:
#  4. Get the average fare per ride for each city type. 
average_fare_ride_series = total_fare_series/total_rides_series
average_fare_ride_series
type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [ ]:
# 5. Get the average fare per driver for each city type. 
average_fare_driver_series = total_fare_series/total_driver_series
average_fare_driver_series
type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [ ]:
#  6. Create a PyBer summary DataFrame. 
pyber_summary_df = pd.DataFrame({"Total Rides" : total_rides_series,
                                 "Total Drivers" : total_driver_series,
                                 "Total Fares" : total_fare_series,
                                 "Average Fare per Ride" : average_fare_ride_series,
                                 "Average Fare per Driver" : average_fare_driver_series
                                })
pyber_summary_df
Total Rides	Total Drivers	Total Fares	Average Fare per Ride	Average Fare per Driver
type					
Rural	125	78	4327.93	34.623440	55.486282
Suburban	625	490	19356.33	30.970128	39.502714
Urban	1625	2405	39854.38	24.525772	16.571468

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.
pyber_summary_df["Total Rides"] =  pyber_summary_df["Total Rides"].map("{:,}".format)
pyber_summary_df["Total Drivers"] =  pyber_summary_df["Total Drivers"].map("{:,}".format)
pyber_summary_df["Total Fares"] =  pyber_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Ride"] =  pyber_summary_df["Average Fare per Ride"].map("${:,.2f}".format)
pyber_summary_df["Average Fare per Driver"] =  pyber_summary_df["Average Fare per Driver"].map("${:,.2f}".format)
pyber_summary_df
Total Rides	Total Drivers	Total Fares	Average Fare per Ride	Average Fare per Driver
Rural	125	78	$4,327.93	$34.62	$55.49
Suburban	625	490	$19,356.33	$30.97	$39.50
Urban	1,625	2,405	$39,854.38	$24.53	$16.57

In [ ]:
# 1. Read the merged DataFrame
pyber_data_df.head()
city	date	fare	ride_id	driver_count	type
0	Lake Jonathanshire	2019-01-14 10:14:22	13.83	5739410935873	5	Urban
1	South Michelleport	2019-03-04 18:24:09	30.24	2343912425577	72	Urban
2	Port Samanthamouth	2019-02-24 04:29:00	33.44	2005065760003	57	Urban
3	Rodneyfort	2019-02-10 23:22:03	23.44	5149245426178	34	Urban
4	South Jack	2019-03-06 04:28:35	34.58	3908451377344	46	Urban

In [ ]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
type_date_fare_data_df = pyber_data_df.groupby(["type","date"]).sum() ["fare"]
type_date_fare_data_df
type   date               
Rural  2019-01-01 09:45:36    43.69
       2019-01-02 11:18:32    52.12
       2019-01-03 19:51:01    19.90
       2019-01-04 03:31:26    24.88
       2019-01-06 07:38:40    47.33
                              ...  
Urban  2019-05-08 04:20:00    21.99
       2019-05-08 04:39:49    18.45
       2019-05-08 07:29:01    18.55
       2019-05-08 11:38:35    19.77
       2019-05-08 13:10:18    18.04
Name: fare, Length: 2375, dtype: float64

In [ ]:
# 3. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
type_date_fare_data_df = type_date_fare_data_df.reset_index()
type_date_fare_data_df
type	date	fare
0	Rural	2019-01-01 09:45:36	43.69
1	Rural	2019-01-02 11:18:32	52.12
2	Rural	2019-01-03 19:51:01	19.90
3	Rural	2019-01-04 03:31:26	24.88
4	Rural	2019-01-06 07:38:40	47.33
...	...	...	...
2370	Urban	2019-05-08 04:20:00	21.99
2371	Urban	2019-05-08 04:39:49	18.45
2372	Urban	2019-05-08 07:29:01	18.55
2373	Urban	2019-05-08 11:38:35	19.77
2374	Urban	2019-05-08 13:10:18	18.04

In [ ]:
# 4. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
type_date_fare_pivot = type_date_fare_data_df.pivot(index = "date", columns = "type", values = "fare")
type_date_fare_pivot
type	Rural	Suburban	Urban
date			
2019-01-01 00:08:16	NaN	NaN	37.91
2019-01-01 00:46:46	NaN	47.74	NaN
2019-01-01 02:07:24	NaN	24.07	NaN
2019-01-01 03:46:50	NaN	NaN	7.57
2019-01-01 05:23:21	NaN	NaN	10.75
...	...	...	...
2019-05-08 04:20:00	NaN	NaN	21.99
2019-05-08 04:39:49	NaN	NaN	18.45
2019-05-08 07:29:01	NaN	NaN	18.55
2019-05-08 11:38:35	NaN	NaN	19.77
2019-05-08 13:10:18	NaN	NaN	18.04

In [ ]:
# 5. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-28'.

Jan_Apr_data_df = type_date_fare_pivot.loc["2019-01-01":"2019-04-28"]
Jan_Apr_data_df
type	Rural	Suburban	Urban
date			
2019-01-01 00:08:16	NaN	NaN	37.91
2019-01-01 00:46:46	NaN	47.74	NaN
2019-01-01 02:07:24	NaN	24.07	NaN
2019-01-01 03:46:50	NaN	NaN	7.57
2019-01-01 05:23:21	NaN	NaN	10.75
...	...	...	...
2019-04-27 17:58:27	14.01	NaN	NaN
2019-04-27 19:45:48	NaN	28.84	NaN
2019-04-27 20:41:36	NaN	NaN	8.28
2019-04-27 23:26:03	NaN	NaN	19.06
2019-04-27 23:52:44	NaN	45.98	NaN

In [ ]:
# 6. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)
Jan_Apr_data_df.index = pd.to_datetime(Jan_Apr_data_df.index)

In [ ]:
# 7. Check that the datatype for the index is datetime using df.info()
Jan_Apr_data_df.info()
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2177 entries, 2019-01-01 00:08:16 to 2019-04-27 23:52:44
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype  
---  ------    --------------  -----  
 0   Rural     114 non-null    float64
 1   Suburban  567 non-null    float64
 2   Urban     1496 non-null   float64
dtypes: float64(3)
memory usage: 68.0 KB

In [ ]:
# 8. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.
weekly_fare = Jan_Apr_data_df.resample("W").sum()
weekly_fare.index.name = None
weekly_fare
type	Rural	Suburban	Urban
2019-01-06	187.92	721.60	1661.68
2019-01-13	67.65	1105.13	2050.43
2019-01-20	306.00	1218.20	1939.02
2019-01-27	179.69	1203.28	2129.51
2019-02-03	333.08	1042.79	2086.94
2019-02-10	115.80	974.34	2162.64
2019-02-17	95.82	1045.50	2235.07
2019-02-24	419.06	1412.74	2466.29
2019-03-03	175.14	858.46	2218.20
2019-03-10	303.94	925.27	2470.93
2019-03-17	163.39	906.20	2044.42
2019-03-24	189.76	1122.20	2368.37
2019-03-31	199.42	1045.06	1942.77
2019-04-07	501.24	1010.73	2356.70
2019-04-14	269.79	784.82	2390.72
2019-04-21	214.14	1149.27	2303.80
2019-04-28	191.85	1169.04	1909.51

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 
weekly_fares_chart = weekly_fare.plot(figsize = (25,7))
weekly_fares_chart.set_ylabel("Fare ($USD)")
weekly_fares_chart.set_title("Total Fare by City Type")
# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use("fivethirtyeight")
plt.savefig("C:/Users/raney/OneDrive/Desktop/Analysis_Projects/PyBer_Analysis/analysis/PyBer_fare_summary.png")
plt.show()
plt.tight_layout()

<Figure size 432x288 with 0 Axes>